<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AisSchoolDiary"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.ClassnameListActivity" />
        <activity android:name=".activities.GradeListActivity" />
        <activity android:name=".activities.HomeworkListActivity" />
        <activity android:name=".activities.ScheduleListActivity" />
        <activity android:name=".activities.StudentListActivity" />
        <activity android:name=".activities.ClassnameDetailActivity" />
        <activity android:name=".activities.GradeDetailActivity" />
        <activity android:name=".activities.HomeworkDetailActivity" />
        <activity android:name=".activities.ScheduleDetailActivity" />
        <activity android:name=".activities.StudentDetailActivity" />
    </application>

</manifest>